{# src/BNC/CVBundle/Resources/views/Default/index.html.twig #}

{% extends "BNCCVBundle::layout.html.twig" %}

{% block container %}
<div class="jumbotron">
  <div id="home-block"></div>
  <p>
    <a class="btn btn-lg btn-primary" href="{{ path('bnccv_cv') }}" role="button">Voir mon CV &raquo;</a>
  </p>
</div>

  <script id="home-template" type="text/x-handlebars-template">
  {% raw %}
    <h1>{{title}}</h1>
    {{#each steps}}
      <p>{{this}}</p>
    {{/each}}
  {% endraw %}
  </script>
  
<script>
installHome("{{ asset('bundles/cv/toto.json') }}");
</script>

{% endblock %}
