{# src/BNC/CVBundle/Resources/views/Default/index.html.twig #}

{% extends "BNCCVBundle::layout.html.twig" %}

{% block container %}
<div class="jumbotron">
  <h1>Développeur J2ee / Architecte / Chef de projet</h1>
  <p>Plus de 7 ans d'expérience dans les technologies Java/J2EE Web. Gestion de projet & Architecture logicielle</p>
  <p>Je recherche des missions dans le domaine du Web, Java/J2ee ou PHP en développement, architecture ou gestion de projet.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="{{ path('bnccv_cv') }}" role="button">Voir mon expérience &raquo;</a>
  </p>
</div>
{% endblock %}
