{# src/BNC/CVBundle/Resources/views/Contact/index.html.twig #}

{% extends "BNCCVBundle::layout.html.twig" %}

{% block container %}
<h2>Pour me contacter</h2>
<ul>
<li><b>Téléphone : </b>0695190522</li>
<li><b>Mail : </b><a target="_blank" href="mailto:cle.balay@gmail.com">cle.balay@gmail.com</a></li>
<li><a target="_blank" href="https://fr.linkedin.com/pub/cl%C3%A9ment-bala%C3%BF/5/250/baa">linkedin</a></li>
<li><a target="_blank" href="https://www.hopwork.fr/profile/clementbalay">Hopwork</a></li>
</ul>
{% endblock %}