{# src/BNC/CVBundle/Resources/views/Contact/index.html.twig #}

{% extends "BNCCVBundle::layout.html.twig" %}

{% block container %}
<h2>Pour me contacter</h2>
<ul>
<li>Mail : </li>
<li>Skype : </li>
<li>Linked in : </li>
<li>Téléphone : </li>
</ul>
{% endblock %}