{# src/BNC/CVBundle/Resources/views/About/index.html.twig #}

{% extends "BNCCVBundle::layout.html.twig" %}

{% block container %}

<h2>A propos de ce site</h2>
Pour ce site j'ai utilisé :
<ul>
	<li>le framework PHP <a target="_blank" href="https://symfony.com/">Symfony2</a> pour tester ce framework.</li>
	<li><a target="_blank" href="http://getbootstrap.com/css/">Bootstrap</a> pour un style multi-navigateur et responsive.</li>
	<li><a target="_blank" href="https://jquery.com/">JQuery</a> pour le côté dynamique.</li>
	<li>La librairie JS <a target="_blank" href="http://handlebarsjs.com/">handlebars</a> pour le templating.</li>
	<li>Un <a target="_blank" href="https://codyhouse.co/gem/vertical-timeline/">module JS</a> pour la timeline verticale</li>
</ul>
Le code source de ce site peut être visualisé et récupéré <a target="_blank" href="https://github.com/ma9loub/bnccv">ici</a>.

{% endblock %}