{# src/BNC/CVBundle/Resources/views/About/index.html.twig #}

{% extends "BNCCVBundle::layout.html.twig" %}

{% block container %}

<h2>A propos de moi</h2>

<h2>A propos de ce site</h2>


{% endblock %}